@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #13ADC7; /* Replace with your desired color */
  --color-secondary: #6978D1;
  --color-end: #945DD6; /* Replace with your desired color */
}

.wrapper {
    @apply px-10   lg:px-8 max-w-screen-xl mx-auto;
    }

/* .wrapper2{
  @apply max-w-screen-md mx-auto px-8;


} */
      .gradient-text {
        background: linear-gradient(270deg, #31CBE5 0%, #8796EF 66.67%, #B27BF4 100%);
        background-clip: text;
        -webkit-background-clip: text; /* For Safari */
        -webkit-text-fill-color: transparent;
      }
      
.gradient{
   background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

.gradient:hover{
  background: linear-gradient(270deg, #31CBE5 0%, #8796EF 66.67%, #B27BF4 100%);

}

